@CHARSET "UTF-8";

body, html{
     margin:0; padding:0;
     height:100%;
     font-size:10px;
}

div, p{
    position:relative;
    margin:0; padding:0;
}

br{
    clear:both;
}

#wrap{
	width:600px;
	left:20%;
}

#body{
}

#logo{
	float:left;
}
#logo img{
	height:100px;
}
#logo span{
	display:none;
}

#nav{
	float:left;
}

#nav ul{
	margin:0px;
	padding:0px;
	list-style: none;
}

#nav li{
	padding:0 10px 0 10px;
}

li.menu{
	font-family: Arial, sans-serif;
	font-size:1em;
	font-weight:100;
	text-transform:uppercase;
	letter-spacing:5.3px;
	color:#444;
}

li.menu a{
	text-decoration:none;
	color:#444;
}

li.menu a:hover{
	color:#000;
}

#pic{
	float:left;
	margin:10px 20px 0 100px;
}

#footer{
	padding: 5px 0 20px 0;
	text-align:right;
	font-size: 1em;
	font-family: Georgia,"Times New Roman", Helectiva, Arial, sans-serif;
	color:#333;
}